.welcome-logo{
  width:300px;
}
.user_icon,
.addfriend_icon{
  width:20px;
}
.user-avatar{

}
.user-avatar img{
  position:inherit;
  max-width:100%;
}
.user-avatar .inputAvatar{
  display:none;
}
.user-avatar .isme{
  cursor: pointer;
}
.user-avatar .isme .click-me{
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  color: #fff;
  font-size: 14pt;
  height: auto;
  margin: 0;
  padding: 53px 57px;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  width: auto;
  display: none;
}
.user-avatar .isme:hover .click-me{
  display: block;
}
.user-info span{
  font-size:1.5em;
  color:#1a1a1a;
}
.navbar-brand img{
  max-height: 20px;
}
.error-page {
  text-align: center;
}
.error-page h1 {
  font-size: 30pt !important;
}
.navbar .nav > li > a > i{
  font-size: 14pt;
}
.btn-social span.fa{
  padding: 7px 0 0 0;
}
.image-container {
  width: 100%;
  position: relative;
}
.image-container .post-image{
  width: 100%;
  height: auto;
}

